<template>
  <div class="home">
    <h1 class="titre">Site web de stage</h1>
    <p class="corpDeTexte">
      Ceci est un site web créé pendant
      la deuxième semaine de stage. Ce stage d'observation a duré pendant deux semaines. Ce fut l'occasion
      pour moi de découvrir les métiers de dévelloppeur et de m'initier à quelques langages de programmations
      commme le python et le html. Durant ce stage, j'ai également effectué plusieurs petits projets dont ce
      site web, un jeu du plus ou moins, un jeu du pendu et un jeu de morpion.
    </p>
  </div>
</template>

<script>
export default {
  name: "home"
};
</script>
