<template>
  <div class="Semaine1Jour4">
    <h1 class="titre">Semaine 1, Jour 4</h1>
    <p class="corpDeTexte">
      Je finalise le jeu de pendu et je résous quelques coding games, des énigmes et exercices devant
      être résolus en codant.
    </p>
    <img
      class="images"
      src="../assets/ScreenshotCodeManchePenduDeuxJoueurs.png"
      alt="Le code d'une manche au pendu deux joueurs"
    >
    <p class="legende">Le code d'une manche au pendu deux joueurs.</p>
  </div>
</template>

<script>
export default {
  name: "Semaine1Jour4"
};
</script>

<style lang="scss" scoped>
</style>