<template>
  <div class="Semaine1Jour3">
    <h1 class="titre">Semaine 1, Jour 3</h1>
    <p
      class="corpDeTexte"
    >Je continue le programme du jeu de pendu, création d'une version un joueur et d'une version deux joueurs.</p>
    <img
      class="images"
      src="../assets/specificationPenduDeuxJoueurs.png"
      alt="Les specifications de la version deux joueurs du pendu"
    >
    <p
      class="legende"
    >Les spécifications du pendu à deux joueurs, tout les fonctionnalitées que le programme devra effectuer</p>
  </div>
</template>

<script>
export default {
  name: "Semaine1Jour3"
};
</script>

<style lang="scss" scoped>
</style>