<template>
  <div class="Semaine1Jour1">
    <h1 class="titre">Semaine 1, Jour 1</h1>
    <p class="corpDeTexte">
      Mon premier jour de stage m'a permis de découvrir l'équipe avec laquelle j'allais passer la semaine.
      J'ai pu découvrir l'organisation de l'entreprise , les différents métiers et les différents services qui
      la composent.
    </p>
    <img class="images" src="../assets/organigramme.png" alt="Ceci est sensé être l'organigramme">
    <p class="legende">Organigramme de l'entreprise</p>
    <p class="corpDeTexte">
      Mon premier jour de stage a égalemment été pour moi l'occasion de découvrir la programmation plus en
      détail mais aussi de réaliser un premier petit projet, un jeu du plus ou moins. Après avoir réalisé une
      version dans laquelle l'ordinateur demande au joueur de deviner un nombre donné, on a créé un programme
      demandant au joueur un nombre et dans lequel l'ordinateur doit le deviner. Cela m'a permis de découvrir
      la démarche utilisée par le dévelloppeurs et de découvrir les bases du langage python.
    </p>
    <img
      class="images"
      src="../assets/screenshotJeuPlusOuMoins.png"
      alt="code jeu du plus ou moins"
    >
    <p class="legende">Capture d'écran du code du jeu du plus ou moins avec le terminal</p>
  </div>
</template>

<script>
export default {
  name: "Semaine1Jour1"
};
</script>

<style lang="scss">
</style>

