<template>
  <div class="Semaine1Jour2">
    <h1 class="titre">Semaine 1, Jour 2</h1>
    <p class="corpDeTexte">
      Durant mon deuxième jour de stage, j'ai pu finaliser le jeu du plus ou moins, et j'ai égalemment commencé
      mon deuxième projet, un jeu de pendu. Je rencontre mes premières difficultées mais j'apprends égalemment
      la notion de fonction, qui permettent de rendre le programme plus lisible et d'éviter les répétition
      , et donc les erreurs.
    </p>
    <img
      class="images"
      src="../assets/screenshotDefinitionFonction.png"
      alt="Des exemples de fonctions"
    >
    <p class="legende">La définition de fonctions.</p>
    <img
      class="images"
      src="../assets/screenshotjeuDuPendu.png"
      alt="Le programme principal du jeu du pendu"
    >
    <p class="legende">Le programme avec les fonctions du jeu de pendu</p>
  </div>
</template>

<script>
export default {
  name: "Semaine1Jour2"
};
</script>

<style lang="scss" scoped>
</style>
