<template>
  <div class="Semaine2Jour4">
    <h1 class="titre">Semaine 2, Jour 4</h1>
    <p class="corpDeTexte">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus felis lorem, feugiat aliquam enim at, bibendum placerat ligula. Nunc bibendum turpis dolor, in fringilla diam faucibus in. Nulla facilisi. Nam accumsan finibus nibh, mollis scelerisque purus facilisis vitae. Integer feugiat vehicula ipsum vitae finibus. Donec viverra turpis mauris, vitae eleifend erat vestibulum et. Suspendisse pellentesque feugiat dolor, quis pulvinar ipsum feugiat non. Nullam quis erat non lectus consequat tempus. Aliquam non efficitur ex. Vestibulum id libero dapibus quam ultrices consequat ut vehicula urna. Maecenas sed tellus eros. Nullam tincidunt ac elit in ultricies.
      Cras fringilla aliquam libero, sit amet sodales massa scelerisque a. Quisque vehicula et dui mattis rutrum. In convallis magna eu orci feugiat accumsan. Sed placerat magna at ligula tristique, in maximus lectus blandit. Praesent vel sem vulputate, consectetur purus nec, dapibus metus. Maecenas mattis elementum nisi et laoreet. Vivamus sed nisl sed metus tempus egestas vitae a lectus. Nullam ultrices consectetur urna, at egestas erat posuere ut. Maecenas et diam vitae orci rutrum maximus. Fusce sit amet sapien rhoncus, ultricies diam in, elementum lectus.
    </p>
  </div>
</template>

<script>
export default {
  name: "Semaine2Jour4"
};
</script>

<style lang="scss" scoped>
</style>