<template>
  <div class="Semaine1Jour5">
    <h1 class="titre">Semaine 1, Jour 5</h1>
    <p class="corpDeTexte">
      Je commence à faire un diaporama sur mon travail de la semaine. Je commence égallemment (en me faisant aider),
      la réalisation d'un jeu de morpion pour deux joueurs. Le jeu de morpion fut mon projet le plus difficile
      de la semaine car il est très compliqué d'afficher la grille en 3*3.
    </p>
    <img class="images" src="../assets/ExecutionMorpion.png" alt="Un morpion">
    <p class="legende">Le morpion en pleine éxécution</p>
  </div>
</template>

<script>
export default {
  name: "Semaine1Jour5"
};
</script>

<style lang="scss" scoped>
</style>