<template>
  <div class="Semaine2Jour1">
    <h1 class="titre">Semaine 2, Jour 1</h1>
    <p class="corpDeTexte">
      Je complète mon jeu de morpion en créant une IA (en me faisant aider), je présente mon travail
      de la semaine passée et je commence la création de ce site web
    </p>
    <img class="images" src="../assets/calculIA.png" alt="Les calculs des scores de l'IA">
    <p class="legende">Le programme de calcul des coups à jouer de l'IA</p>
  </div>
</template>

<script>
export default {
  name: "Semaine2Jour1"
};
</script>

<style lang="scss" scoped>
</style>
