<template>
  <div class="Semaine2Jour2">
    <h1 class="titre">Semaine 2, Jour 2</h1>
    <p class="corpDeTexte">
      Je continue la création du site web : je télécharge les outils pouvant m'aider et j'apprends à m'en servir
      . Je rempli les différentes pages du site et je commence la création de la barre de navigation.
    </p>
  </div>
</template>

<script>
export default {
  name: "Semaine2Jour2"
};
</script>

<style lang="scss" scoped>
</style>
