<template>
  <nav class="navbar">
    <router-link class="navbar-item" to="/">Accueil</router-link>

    <router-link class="navbar-item" to="/about">A propos</router-link>
    <div class="navbar-item detecteur">
      <span>Semaine 1</span>
      <ul class="sous-menu">
        <li>
          <router-link class="navbar-item" to="/s1j1">Semaine1, Jour 1</router-link>
        </li>
        <li>
          <router-link class="navbar-item" to="/s1j2">Semaine 1, Jour 2</router-link>
        </li>
        <li>
          <router-link class="navbar-item" to="/s1j3">Semaine 1, Jour 3</router-link>
        </li>
        <li>
          <router-link class="navbar-item" to="/s1j4">Semaine 1, Jour 4</router-link>
        </li>
        <li>
          <router-link class="navbar-item" to="/s1j5">Semaine 1, Jour 5</router-link>
        </li>
      </ul>
    </div>

    <div class="navbar-item detecteur">
      <span>Semaine 2</span>
      <ul class="sous-menu">
        <li>
          <router-link class="navbar-item" to="/s2j1">Semaine 2, Jour 1</router-link>
        </li>
        <li>
          <router-link class="navbar-item" to="/s2j2">Semaine 2, Jour 2</router-link>
        </li>
        <li>
          <router-link class="navbar-item" to="/s2j3">Semaine 2, Jour 3</router-link>
        </li>
        <li>
          <router-link class="navbar-item" to="/s2j4">Semaine 2, Jour 4</router-link>
        </li>
        <li>
          <router-link class="navbar-item" to="/s2j5">Semaine 2, Jour 5</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #87adff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-item {
  padding: 0;
  text-decoration: none;
  text-decoration: inherit;
  color: white;
  padding: 10px;
}

.sous-menu {
  display: none;
}

.detecteur:hover {
  background-color: #709eff;
}
.sous-menu {
  list-style: none;
  text-align: center;
  padding: 10px;
}
.detecteur:hover .sous-menu {
  display: block;
  position: absolute;
  background-color: #87adff;
  top: 25px;
}
.navbar-item:hover {
  color: #fbff00;
}
.detecteur {
  height: 20px;
}
</style>
