<template>
  <div id="app">
    <nav-bar></nav-bar>
    <router-view/>
  </div>
</template>

<script>
import NavBar from "./components/Navbar.vue";
export default {
  name: "App",
  components: { NavBar }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

body {
  margin: 0;
}
.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.titre {
  text-align: center;
  text-decoration: underline;
}
.legende {
  text-align: center;
  color: #9780ba;
  font-size: 12px;
}
.corpDeTexte {
  padding: 20px;
}
</style>
